body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

h3 {
  color:red;
  font-size: 2em;
  text-align: center;
  padding: 10px;
  margin: 0px;
  text-transform: uppercase;
  border-radius: 10px;
  border: 1px solid red;
}
h4{
color:red;
text-decoration: underline; 
}
h5{
color:green;
text-decoration: underline; 
}
table {
margin: auto;
}